.page-link{
    cursor: pointer;
}

.page-link:disabled{
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
}


/* Navbar styles */
.navbar .btn{
    font-size: 20px;
    line-height: 0.5;
}